@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
    margin: 0 auto;
    padding: 0;
}

footer {
    // position: absolute;
    height: 100px;
    width: 100%;
    left: 0px;
    top: 959px; 
    background-color: #405559;

}

.logo {
    position: absolute;
    right: 84px; 
    svg {
    width: 234px;
    height: 87px;
    }

}


.start-page {
    
  title {
    display: block;
    position: absolute;
    z-index: 2;
    width: 423px;
    height: 116px;
    left: 125px;
    top: 90px;
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
    .background-image {
        height: 100%;
        position: relative;
        z-index: -1;
        img {
            width: 100%;
        }
    }
}